{% extends 'turno/layout.html' %}
{% block title %}
  Turnos {{ municipio }}
{% endblock %}
{% block body %}
  <div class="titulo" style="text-align: center;">
    <h3>Turnos {{ municipio }}</h3>
  </div>
  <div class="detalles-buttons">
    <a href="{% url 'index' %}" type="button" class="btn btn-light" role="button">Regresar</a>
    <a href="{% url 'crear' municipio.id %}" type="button" class="btn btn-primary" role="button">Crear Turno</a>
  </div>
  <div></div>
  {% if turnos %}
    <div class="turnos">
      {% for turno in turnos %}
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">{{ turno.curp }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Turno: {{ turno.turno }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{ turno.municipio }}</h6>
            <p class="card-text">{{ turno.asunto }}</p>
            <a href="{% url 'detalles' turno.id %}" class="card-link">Details</a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="">
      <p>No se encontraron turnos en {{ municipio }}</p>
    </div>
  {% endif %}
{% endblock %}
